.header {
  position: relative;
  background-color: #faf8f5;
  height: 110vh;
  width: 100%;
  padding-top: 10rem;

  @media only screen and (max-width: 1500px) {
    & {
      height: 90vh;
      padding-top: 7.5rem;
    }
  }

  @media only screen and (max-width: 750px) {
    & {
      // height: 50vh;
    }
  }

  &-hamburger,
  &-hamburger::after,
  &-hamburger::before {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 2px;
    width: 4rem;
    background-color: #2c2e2f;
    position: fixed;
    display: block;
    top: 3.5%;
    right: 5%;
    z-index: 999;

    @media only screen and (max-width: 500px) {
      & {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-hamburger::before,
  &-hamburger::after {
    content: "";
    position: absolute;
  }

  &-hamburger::before {
    top: 1rem;
  }

  &-hamburger::after {
    top: -1rem;
  }

  // @media only screen and (max-width: 999px) {
  //   & {
  //     height: 80vh;
  //   }
  // }

  &__wrapper {
    padding: 0.6rem 1.5rem;
    width: 100%;
    height: 7.5rem;
    padding: 1rem;
    background-color: #fff;
    transition: all 0.5s ease-in;
    backface-visibility: hidden;
    position: fixed;
    top: 0;
    z-index: 990;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;

    @media only screen and (max-width: 500px) {
      & > * {
        display: none;
        opacity: 0;
        visibility: hidden;
        // transition: all 0.4s ease-out;
      }

      & > * {
        padding: 1.4rem;
      }

      &.active > * {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      &.active {
        height: 45rem;
      }
    }

    // &.active {

    // }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backface-visibility: hidden;

    @media only screen and (max-width: 1832px) {
      & {
        max-width: 1440px;
        margin: 0 auto;
      }
    }

    @media only screen and (max-width: 500px) {
      & {
        display: block;
        width: 100%;
        height: 100%;
        // background-color: red;
      }
    }

    //  the nav item and items style
    &-item {
      display: flex;
      flex: 0 0 60%;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: stretch;
      padding-left: 0;

      @media only screen and (max-width: 500px) {
        & {
          flex-direction: column;
          width: 100%;

          padding: 1rem;
        }
      }
    }

    &-items {
      display: inline-block;
      align-self: stretch;
      height: 100%;
      position: relative;

      @media only screen and (max-width: 500px) {
        & {
          width: 100%;
        }
      }

      &:hover > .header__nav-dropdown {
        // display: block;
        opacity: 1;
        visibility: visible;
        z-index: 999;
      }
    }

    &-link:link,
    &-link:visited {
      color: #2c2e2f;
      display: inline-block;
      position: relative;
      // height: 100%;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: 600;
      //   margin-right: 0.5rem;
      padding: 2rem 0;
      border-bottom: 3px solid transparent;
      transition: all 0.2s;

      @media only screen and (max-width: 845px) {
        & {
          font-size: 0.8rem;
        }
      }

      @media only screen and (max-width: 500px) {
        & {
          font-size: 1rem;
          width: 100%;
        }
      }
    }

    &-link > i {
      font-size: 1rem;
      transition: transform 0.1s;
    }

    .navLink-active {
      color: $color-secondary-light;
      border-bottom: 3px solid $color-hover;
    }

    &-link:hover {
      color: $color-secondary-light;
      border-bottom: 3px solid $color-hover;

      & > i {
        transform: rotate(180deg);
      }
    }

    &-dropdown {
      position: absolute;
      left: 0;
      min-width: 2.3rem;
      background-color: #fff;
      white-space: nowrap;
      padding: 2rem 3.5rem 1.6rem 2rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
      z-index: 200;
      // display: none;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: 700px) {
        & {
          min-width: 2rem;
          padding: 1.8rem 3rem 1.2rem 1.8rem;
        }
      }

      & ul {
        padding-left: 0;
      }

      &--item {
        list-style-type: none;
      }

      &-link:link,
      &-link:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-secondary-light;
        font-size: 1.8rem;
        font-weight: 500;
        transition: color 0.2s;
        margin-bottom: 1rem;

        @media only screen and (max-width: 700px) {
          & {
            width: 100%;
            font-size: 1rem;
          }
        }
      }

      &-link:hover {
        color: $color-secondary;
      }
    }
  }

  //////////////////////////// The logo design
  ///
  .header__logo__container {
    background-color: #fff;
    display: block;
    width: max-content;
    height: max-content;
    color: #fff;
    max-width: 18.5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 90%;
    height: 70%;
    display: block;

    // font-size: 4rem;
    // font-style: italic;
    // font-weight: 700;
    // padding-bottom: 1rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @media only screen and (max-width: 900px) {
      & {
        font-size: 3rem;
        padding-bottom: 0.8rem;
        // align-self: flex-start;
      }
    }

    @media only screen and (max-width: 540px) {
      & {
        font-size: 2.5rem;
      }
    }

    @media only screen and (max-width: 500px) {
      & {
        align-self: flex-start;
        justify-self: center;
        // padding-top: 1rem;
        width: 100%;
        height: 80%;
      }
    }

    &-text {
      position: relative;
      color: $color-primary;
      display: inline;
      font-size: 3rem;
      font-style: normal;
      font-weight: 600;
      margin-left: 3px;

      @media only screen and (max-width: 756px) {
        & {
          font-size: 1.2rem;
          line-height: 2.2rem;
        }
      }
    }

    &-icon {
      display: inline-block;
      font-size: 3.5rem;
      margin-left: 0.5rem;
      background-image: linear-gradient(
        to right bottom,
        $color-primary,
        rgb(70, 91, 253)
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  &__form {
    align-self: center;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 500px) {
      & {
        padding: 1rem;
      }
    }
  }

  ////////landing page search icon

  &__search-icon {
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 3rem;
    margin-left: 0.5rem;
    color: $color-primary;

    @media only screen and (max-width: 1350px) {
      & {
        font-size: 2.4rem;
      }
    }

    @media only screen and (max-width: 540px) {
      & {
        font-size: 1.2rem;
      }
    }
  }
  /////home page banner

  &__banner {
    // height: calc(100vh - 7.5rem);
    height: 100%;
    max-width: 100%;

    background-image: url(../img/banner-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    display: block;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1;

    &.active {
      position: relative;
      top: 7.5rem;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &-container {
      position: absolute;
      display: block;
      max-width: 50%;
      // padding: 2%;
      // padding-top: 5%;
      top: 30%;
      left: 2%;

      @media only screen and (max-width: 999px) {
        & {
          max-width: none;
          width: 80%;
          margin: 0 auto;
        }
      }
    }

    &-text {
      font-size: 6.2rem;
      // width: 85%;
      line-height: 1.2;
      font-weight: 700;
      color: $color-primary;
      animation: bannerAnimation 0.6s linear;
      position: relative;
      z-index: 2;

      @media only screen and (max-width: 1500px) {
        & {
          font-size: 5.5rem;
        }
      }

      @media only screen and (max-width: 999px) {
        & {
          width: 100%;
        }
      }

      @media only screen and (max-width: 650px) {
        & {
          font-size: 3.5rem;
        }
      }

      @media only screen and (max-width: 540px) {
        & {
          font-size: 3rem;
        }
      }
    }

    @keyframes bannerAnimation {
      0% {
        opacity: 0;
        transform: translateY(80%);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  //design for the about page
  &__banner {
    &-about {
      background-image: url(../img/Who-We-Are-Home-Page-Header.png);
    }

    &-values {
      background-image: url(https://s202.q4cdn.com/805890769/files/design/banner/Values-in-action/PayPal-Header-value.png);
    }

    &-text__description {
      color: #001435;
      font-size: 1.6rem;
      line-height: 2.6rem;
      font-weight: 400;
      max-width: 500px;
    }
  }
}
